/data/Traffic_Crashes_-_Crashes.csv
/data/Traffic_Crashes_-_People.csv
/data/Traffic_Crashes_-_Vehicles.csv
/notebook/clean_people.csv
/notebook/clean_vehicles.csv
/notebook/crash_clean.csv
/notebook/ten_rand.csv
